{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<div>
		<span>Bookmarks</span>
		{% if request.user.is_authenticated %}
			<ul class="menu">
				<li {% if section == 'dashboard' %}{% endif %}>
					<a href="{% url 'dashboard' %}">My dashboard</a>
				</li>
				<li {% if section == 'portfolio' %}{% endif %}>
					<a href="{% url 'portfolio' %}">My Portfolio</a>
				</li>
				<li {% if section == 'orders' %}{% endif %}>
					<a href="{% url 'order_list' %}">Orders</a>
				</li>
				<li {% if section == 'order' %}{% endif %}>
					<a href="{% url 'order_create' %}">New order</a>
				</li>
			</ul>
		{% endif %}
		<span>
			{% if request.user.is_authenticated %}
				Hello {{ request.user.first_name|default:request.user.username }},
				<a href="{% url 'logout' %}">Logout</a>
			{% else %}
				<a href="{% url 'login' %}">Log-in</a>
			{% endif %}
		</span>
	</div>
	{% if messages %}
		<ul>
			{% for message in messages %}
				<li>
					{{ message|safe }}
					<a href="#"></a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	<div>
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>